.slick-center {
  opacity: 0;
  transform: translateY(-50px);
}

.slick-title, .slick-subtitle, .slick-button {
  animation-name: getDown;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-duration: 1s;
}

.slick-title{
  animation-delay: .9s;
}

.slick-subtitle {
  animation-delay: 1.4s;
}

.slick-button {
  animation-delay: 1.9s;
}

@keyframes getDown {
  0%{
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(50px);
    opacity: 1;
  }
}
